*~
.DS_Store

node_modules
bower_components
vendor
package-lock.json
composer.lock

.env
.env.local
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local

build

# dev
_db-dev
src/php/symlink.md
db/note.sqbpro
