.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xxs);
  align-content: flex-start; /* multiline container */
  align-items: flex-start;
  justify-content: stretch;
  padding-block-end: var(--spacing-base);

  &:has(textarea) {
    height: 100%;
  }

  /* &:has([required]) {
    .form-label {
    }
  } */
}

.form-group:has([required]) .form-label, .required {
  position: relative;
  padding-inline-start: var(--spacing-base);
  &::before {
    position: absolute;
    top: -.2em;
    left: 0;
    display: inline-block;
    padding-inline-end: var(--spacing-xs);
    font-size: 2em;
    color: var(--red-8);
    content: '\002A';
  }

}

.form-label {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.form-control {

  display: block;
  width: 100%;
  padding: var(--form-btns-padding-y) var(--form-btns-padding-x);
  font-family: var(--font-family);
  font-size: var(--form-btns-font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--form-text-color);
  background-color: color-mix(in srgb, var(--form-bg-color) 80%, transparent);
  border: 1px solid light-dark(var(--green-10), var(--brown-8));
  border-radius: var(--form-btns-border-radius);

  &:focus {
    /* background-color: var(--purple-2); */
    outline: 2px solid light-dark(var(--green-9), var(--green-2));
  }
  &::placeholder {
    font-size: var(--form-btns-font-size);
    color: var(--form-placeholder-color);
    opacity: 1;
  }
  &[disabled] {
    /* color: $form-select-disabled-color;
    background-color: $form-select-disabled-bg;
    border-color: $form-select-disabled-border-color; */
    opacity: .6;
    &::placeholder {
      font-style: italic;
    }
  }
}

/* da bootstrap */
/* select.form-control {

  --form-select-indicator-color: var(--form-text-color);
  --indicator-padding-right: var(--spacing-base);

  padding: var(--form-btns-padding-y) var(--indicator-padding-right) var(--form-btns-padding-y) var(--form-btns-padding-x);
  appearance: none;
  background-image: url('@css/select-indicator.svg?css-inline');
  background-repeat: no-repeat;
  background-position: right var(--indicator-padding-right) center;
  background-size: 16px 12px;

  &[multiple],
  &[size]:not([size='1']) {
    padding-right: var(--form-btns-padding-x);
    background-image: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--form-text-color);
  }
} */


/* .form-check {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-xs);
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: var(--spacing-sm);

  .form-control {
    flex: 0;
    margin: 4px 0 0 2px;
    accent-color: var(--primary-200);
    transform-origin: center;
    scale: 1.3;
  }
  .form-label {
    font-weight: var(--font-size-regular);
  }
} */
/*
.form-help-text {
  font-size: var(--font-size-sm);
}
form.was-validated {
  .form-control {
    &:invalid {
      outline: 1px solid var(--red-8);

      &:focus {
        background-color: var(--red-0);
        outline-width: 4px;
      }
    }

    &:valid {
      outline: 1px solid var(--green-11);
      &:focus {
        background-color: var(--green-0);
        outline-width: 2px;
      }
    }
  }
}

textarea.form-control {
  flex: 1;
}

.input-group {
  display: flex;
  gap: 0;
  align-items: stretch;
  justify-content: center;

  input {
    flex: 1;
    border-right: none;
  }

  &.rounded {
    input {
      border-radius: var(--radius-pill) 0 0 var(--radius-pill);
    }
    button {
      border-radius: 0 var(--radius-pill) var(--radius-pill) 0;
    }
  }
} */
