.container {
  width: 100%;
  max-width: var(--size-md);
  padding-inline-start: var(--spacing-lg);
  padding-inline-end: var(--spacing-lg);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: var(--spacing-base) 0 var(--spacing-xxs);
  background-color: var(--body-bg-color);

  > div {
    padding: var(--spacing-sm);
    border: 1px solid var(--gray-7);
    border-radius: var(--radius-md);
  }
}

.result-wrapper {
  padding: 0 var(--spacing-xs);
}
