
p {
  margin: 0 0 var(--spacing-sm);
}

a:link, .btn-link {
  font-weight: var(--font-weight-semibold);
  color: var(--link-color);
  text-decoration: none;
}

a {
  &:visited {
    color: var(--link-visited-color);
  }
}

a, .btn-link {
  &:focus, &:focus-visible {
    outline: 1px solid color-mix(in srgb, var(--link-color) 60%, transparent);
    outline-offset: 2px;
  }
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  &:active {
    color: var(--body-bg-color);
    background-color: var(--link-color);
    outline: 2px solid var(--link-color);
    offset: 0;
  }
}

h2, h3, .h3, h4, .h4 {
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
  text-align: center;
}

h2 {
  margin: 0 0 2.5rem;
  font-size: 3rem;
}

h3, .h3 {
  margin: 0 0 1.5rem;
  font-size: 2rem;
}
h4, .h4 {
  margin: 0 0 1.5rem;
  font-size: 1.6rem;
}


/* da bootstrap */
/* stylelint-disable declaration-no-important */

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

strong, b {
  font-weight: 700;
}
em, .italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}
.text-nowrap {
  white-space: nowrap;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .text-nowrap-dskt {
  @media (--media-desktop-up) {
    white-space: nowrap;
  }
} */

.font-semibold {
  font-weight: var(--font-weight-semibold);
}
.xsmall {
  font-size: var(--font-size-xs);
}
small, .small, .sm {
  font-size: var(--font-size-sm);
}

.text-muted {
  color: var(--text-muted-color);
}

ul {
  margin: 1rem 0;
  list-style-type: disc;
}
li {
  margin-left: 1.5rem;
}
